/* Color Pallette 
#EFF4F7 - Light Grey
#555556 - Grey (Text)
#ffffff - White
#9B4108 - Dark Orange
#D45E13 - Orange 
#01404C - Dark Blue-Green
#006072 - Blue-Green
*/

/* Global Styles */
/* * {
    margin: 0 auto;
} */

body {
    font-family: 'Roboto', sans-serif;
    background: #EFF4F7;
    color: #555556;
    text-align: center;
}

.container {
    margin: 0 auto;
}

th, td {
    padding: 15px 40px;
}



/* Header */
.title {
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Body Text */
.body-text{
    width: 50%;
    margin: 0 auto;
}

/* Benefits Table Styles */
.benefits-table {
    border: 1px solid #EFF4F7;
    color: #ffffff;
    padding: 15px;
    margin: 0 auto;
}

.benefits-table tr {
    padding: 15px;
}

.drk-org {
    background: #9B4108;
    text-align: left;
    text-transform: uppercase;
}

.drk-blgr {
    background: #01404C;
}

.benefits-table td:first-child() {  
    background: #D45E13;
    text-align: left;
}

/* Slider Styles */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('contrasticon.png');
    cursor: pointer;
}

/* Media Queries (Responsive Design) */